*{
    box-sizing: border-box;   
    padding:0px;
    margin:0px;
 }
 .dice-text{
    padding:1vh;
 }
 .dice-container{
    box-shadow: 0px 2px 2px 0px #00000026;
    font-size:2rem;
    font-weight: bold;
    padding:1vh;
    margin-bottom:1vh;
 }